/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;


}

/* INDEX */
/* Header */

.logo-container{
    width: 12%; /* asi evitamos deformación de logo */
}

.logo{
    width: 100%; /* asi evitamos deformación de logo */
    margin: 1.5rem;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


nav ul{
    display: flex;
    gap: 1rem; /* para separar los elementos entre si */
    margin: 2rem;
}

nav ul li{
    list-style: none; /* eliminimamos viñetas */
    font-size: 16px;
}

nav ul li a{
    text-decoration: none; /* subrayado enlace out */
    color: white;
}

nav ul li a:hover{
    color: #7fffd4;
}

.linkActive{
    color: #00b3ff; /* el link activo en menú cambia de color */
}

/* Seccion 1 */

.hero {
    background-image: url(./img/fondo.jpeg);
    background-size: cover;
    height: 650px;
    width: 100%;
    text-align: right;
    padding-top: 12%;
    padding-right: 5%;
    border-radius: 20px;
}

.hero h1{
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 6px 10px 20px black;
}

.hero h2{
    color: white;
    padding-bottom: 20px;
    text-shadow: 6px 10px 15px black;
}

/* .hero a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.hero a:hover{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
} */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #3a8fff, #100089, #00c3ff, #4b23ff, #00ffd5, #002bff, #7a00ff, #0051ff, #8b31f1);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}







/* Seccion 2 */

.galeriahome{
    /* min-height: 1500px;*/
    width: 100%;
    display: grid;
}

.img1home{
    background-color: violet;
    background-image: url(./img/RV.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 60px;
    font-weight: 800;
    padding-top: 390px;
    padding-left: 10px;
    text-align: center;
}
.img1home:hover{
    background-color: aquamarine;
}

.img2home{
    background-color: cadetblue;
    background-image: url(./img/AR.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 60px;
    font-weight: 800;
    padding-top: 390px;
    padding-left: 10px;
    text-align: center;
}

.img3home{
    background-color: chartreuse;
    background-image: url(./img/MR.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 60px;
    font-weight: 800;
    padding-top: 390px;
    padding-left: 10px;
    text-align: center;

}

.img4home{
    background-color: cornflowerblue;
    background-image: url(./img/IW.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: 60px;
    font-weight: 800;
    padding-top: 390px;
    padding-left: 10px;
    text-align: center;
}




/* Seccion 3 */

.newsletter{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fondo_mail.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    /* height: 500px; */
}

.newsletter p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.newsletter a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.newsletter a:hover{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
}

/* Footer */

.contenedorFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.logo-footer{
    width: 40%;
    padding-top: 20px;
}

.tagline{
    color: white;
}

.contenedorFooter1 {
    width: 20%;
}

.contenedorFooter1 i{
    padding-top: 10px;
    padding-bottom: 6px;
    color: white;
    font-size: 20px;
    padding-right: 10px;

}

.tagline{
    font-weight: 100;
    padding-bottom: 3px;
    padding-top: 5px;
}

.contenedorFooter1 p{
    color: white;
}


.social{
    padding-bottom: 5px;

}

.social i:hover{
    color: aquamarine;
}

.contenedorFooter3{
    color: white;
    align-self: flex-start;
    padding-top: 15px;

}

.contenedorFooter3 a{
    text-decoration: none;
    color: white;
}

.contenedorFooter3 ul{
    list-style: none;
}
.contenedorFooter3 p{
    font-weight: 700;
    padding-bottom: 10px;
}

.contenedorFooter3 ul li a:hover{
    color: aquamarine;
}

.contenedorFooter4{
    color: white;
    align-self: flex-start;
    padding-top: 15px;

}

.contenedorFooter4 a{
    text-decoration: none;
    color: white;
}

.contenedorFooter4 ul{
    list-style: none;
}

.contenedorFooter4 p{
    font-weight: 700;
    padding-bottom: 10px;
}

.contenedorFooter4 ul li a:hover{
    color: aquamarine;
}

/* Página SERVICIOS */

.cabecera{
    background-image: url(./img/servicios.png);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
    width: 97%;
    font-weight: 900;
    color: white;
    font-size: 90px;
    text-align: right;
    padding-top: 12%;
    padding-right: 5%;
}


.cabecera h1{
    font-weight: 900;
    font-size: 70px;

}

.servicio{
    width: 80%;
    margin: 2rem auto;
}
.servicio__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 20px 20px 20px 20px;
}

.servicio__container h2{
    color: white;
}

.servicio__container p{
    color: white;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.imagen_ser{
    width: 400px;
    border-radius: 20px;
    display: flex;
}
.servicio__container--reverse{
    flex-direction: row-reverse;
}


.imagen{
    width: 400px;
    height: auto;
    border-radius: 8%;
}

/* Página PROYECTOS */

.cabecera-proyectos{
    background-image: url(./img/cabecera_proyectos.jpg);
border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
background-size: cover;
background-position: center;
width: 97%;
font-weight: 900;
color: white;
font-size: 90px;
text-align: right;
padding-top: 12%;
padding-right: 5%;
}

.cabecera-proyectos h1{
    font-weight: 900;
    font-size: 70px;
}


.texto_cabecera{
    color: white;
    font-size: 20px;
    text-align: right;
    padding: 2% 8% 0% 8%;
}

.texto_cabecera p{
    padding-top: 20px;
}



    .galeria{
        /* min-height: 1500px;*/
        width: 100%;
        display: grid;
    }

    .img{
        border: 8px solid rgb(0, 0, 0);
        filter: grayscale(0%);
    }

    .img:hover{
        transform: scale(1.05);
        transition: all 0.75s;
        filter: grayscale(100%);

    }

    .img1{
        background-image: url(./img/a.\ proyecto.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;

    }

    .img2{
        background-image: url(./img/b2.\ evento.png);
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .img3{
        background-image: url(./img/cb.proyecto.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;

    }

    .img4{
        background-image: url(./img/d.\ proyecto.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .img5{
        background-image: url(./img/e.\ proyectp.webp);
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }


    .cabecera_imagen_vr{
        background-image: url(./img/1_realidad_virtual.jpg);
        background-size: cover;
        width: 3500px;
        height: 300px;
        background-position: center;
        border-radius: 20px;
    }

    .cabecera_imagen_ar{
        background-image: url(./img/1_realidad_virtual.jpg);
        background-size: cover;
        width: 3500px;
        height: 300px;
        background-position: center;
        border-radius: 20px;
    }




/* Página CONOCENOS */


    .cabecera-conocenos{
        background-image: url(./img/metaverso.png);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
    background-position: bottom;
    width: 97%;
    font-weight: 900;
    color: white;
    font-size: 90px;
    text-align: right;
    padding-top: 12%;
    padding-right: 5%;
    }

    .cabecera-conocenos h1{
        font-weight: 900;
        font-size: 70px;
    }


    .texto{
        color: white;
        margin: 80px 80px 80px 80px;
    }

    .texto h2{
        font-weight: 900;
        font-size: 40px;
        padding-bottom: 30px;
        width: auto;
    }

    .texto p{
        padding-bottom: 30px;
    }

    .contenedorImgConocenos{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-image: url(./img/1_conocenos.jpg);
        background-size: cover;
        width: auto;
        height: 450px;
        background-position: 60%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

    .contenedorImgConocenos2{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-image: url(./img/2_conocenos.webp);
        background-size: cover;
        width: auto;
        height: 450px;
        background-position: 60%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

    .contenedorImgConocenos3{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-image: url(./img/3_conocenos.jpg);
        background-size: cover;
        width: auto;
        height: 450px;
        background-position: 60%;
        margin-bottom: 2%;
        border-radius: 20px;
    }

/* Página CONTACTO */
.cabecera-contacto{
    background-image: url(./img/contacto.png);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    width: 97%;
    font-weight: 900;
    color: white;
    font-size: 90px;
    text-align: right;
    padding-top: 12%;
    padding-right: 5%;
    text-shadow: 2px 2px 56px #000000;
}

.cabecera-contacto h2{
    font-weight: 900;
    font-size: 70px;
}

.formContainer{
    width: 75%;
    margin: 3rem auto;
    background-color: #2d2c2c;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}
.formContainer__title{
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
}
.form{
    text-align: center;
}
.form__label{
    display: inline-block;
    width: 60%;
    color: #fff;
    text-align: left;
    font-weight: 600;
}
.form__input, .form__textarea{
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #121212;
    color: #fff;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-size: 1rem;
}
.form__textarea{
    height: 5rem;
    resize: none;
}
.form__input:focus, .form__textarea:focus{
    outline: none;
}
/* .form__input--submit{
    background-color: #ffffff;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
    color: black;
}
.form__input--submit:hover{
    background-color: #7fffd4;
    } */
















/* Media Query */


@media only screen and (min-width:320px){
    .galeriahome{
        grid-template-rows: repeat(4, 550px);
        gap: 20px;
        padding: 20px;
   }
    .galeria{
        grid-template-rows: repeat(5, 350px);
    }
    .cabecera h2{
        font-size: 40px;
    }
    .cabecera-conocenos h2{
        font-size: 40px;
    }

    .texto{
        margin: 40px 40px 40px 40px;
    }

    .texto h3{
        font-size: 20px;
        padding-bottom: 10px;
        width: auto;
    }

    .texto p{
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .cabecera-contacto h2{
        font-size: 40px;
    }
}



@media only screen and (min-width:480px){
    .galeriahome{
        grid-template-rows: repeat(1, 450px);
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
   }

    .galeria{
         grid-template-rows: repeat(5, 350px);
         gap: 20px;
         padding: 20px;
    }
    .img{
        transition: all 0.75s;
    }


}


@media only screen and (min-width:600px){
    .galeria{
         grid-template-rows: repeat(5, 350px);
    }
    .texto{
        margin: 60px 60px 60px 60px;
    }
}


@media only screen and (min-width:768px){
    .galeriahome{
        grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr); */
        padding: 50px 50px 50px 50px;

    }


    .galeria{
        grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr); */
        grid-template-rows: repeat(3, 350px);
        padding: 50px 50px 50px 50px;

    }

    .img1{
        grid-column: 1/3;
        /* grid-row: 1/3; */
        background-image: url(./img/a.\ proyecto.jpg);
        background-size: cover;
        background-position: center;

        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .img2{
        grid-column: 3/5;
        /* grid-row: 1/3; */
        background-image: url(./img/b2.\ evento.png);
        background-size: cover;
        background-position: center;

        border-radius: 20px;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .img3{
        grid-column: 1/5;
        grid-row: 2/3;
        background-image: url(./img/cb.proyecto.jpg);
        background-size: cover;
        background-position: center;

        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;

    }

    .img4{
        grid-column: 1/3;
        grid-row: 3/3;
        background-image: url(./img/d.\ proyecto.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .img5{
        grid-column: 3/5;
        grid-row: 3/3;
        background-image: url(./img/e.\ proyectp.webp);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    .texto{
        margin: 80px 80px 80px 80px;
    }

    .texto h3{
        font-size: 30px;
    }

    .cabecera-contacto h2{
        font-size: 50px;
    }
}


@media only screen and (min-width:1050px){
    .galeria{
         grid-template-rows: repeat(3, 350px);
    }
    .servicio__container{
        flex-wrap: nowrap;
    }
    .cabecera h2{
        font-size: 70px;
    }
    .cabecera-conocenos h2{
        font-size: 70px;
    }
    .texto{
        margin: 5% 20% 5% 20%;
    }
    .cabecera-contacto h2{
        font-size: 70px;
    }
}

